:root {
  --madoc-white: #FFFFFF;
  --madoc-black: #000000;

  // Flash
  --madoc-light-orange: #FF4F1F;
  --madoc-dark-orange: #E36209;
  
  // Grey Shade
  --madoc-grey-1: #111111;
  --madoc-grey-2: #222222;
  --madoc-grey-3: #333333;
  --madoc-grey-4: #444444;
  --madoc-grey-5: #555555;
  --madoc-grey-9: #999999;

  // Light
  --madoc-light-primary: #AAAAAA;

  // Dark
  --madoc-dark-primary: #444444;

  // Github
  --madoc-github-blue-link: #0366D6;
  --madoc-github-red-code: #AF6161;
  --madoc-github-code-back: rgba(27, 31, 35, .05);
  --madoc-github-underline: #EAECEF;

  --madoc-github-grey-1: #EAEEEF;
  --madoc-github-grey-2: #6A737D;
  --madoc-github-grey-3: #DFE2E5;
  --madoc-github-grey-4: #E1E4E8;
  --madoc-github-grey-5: #C6CBD1;
  --madoc-github-grey-6: #24292E;
  --madoc-github-grey-7: #D6D3D5;
  --madoc-github-grey-8: #D6D8DA;
  --madoc-github-grey-9: #9DA5B4;
  --madoc-github-grey-10: #181A1F;
  --madoc-github-grey-11: #1B1D23;
  --madoc-github-grey-12: #F6F8FA;
  --madoc-github-grey-13: #393e42;
  --madoc-github-grey-14: #4c5154;
  // Opacity
  --madoc-white-opacity-50: rgba(255, 255, 255, 0.5);
  --madoc-black-opacity-25: rgba(0, 0, 0, 0.25);
  --madoc-black-opacity-50: rgba(0, 0, 0, 0.5);

  // Colors
  --madoc-grey-blue-1: #dce5ed;
  --madoc-grey-blue-2: #8da9c4;
  --madoc-grey-blue-3: #778da9;

  --madoc-blue-1: #00a6ed; 
}

// Default
*[theme="default"] {
  // Display 
  --madoc-display-left: var(--madoc-github-grey-8);
  --madoc-display-right: var(--madoc-github-grey-9);
  --madoc-display-border: var(--madoc-grey-1);
  // Variables
  --madoc-html-background-color: var(--madoc-white);
  --madoc-html-text-color: var(--madoc-github-grey-6);
  --madoc-html-color: var(--madoc-grey-3);
  --madoc-accent: var(--madoc-light-orange);
  --madoc-anchor-link-color: var(--madoc-github-blue-link);
  --madoc-heading-underline-color: var(--madoc-github-underline);
  --madoc-blockquote-color: var(--madoc-github-grey-2);
  --madoc-blockquote-border-color: var(--madoc-github-grey-3);
  --madoc-separator-color: var(--madoc-github-grey-4);
  --madoc-code-background-color: var(--madoc-github-code-back);
  --madoc-code-color: var(--madoc-grey-3);
  --madoc-table-background-color: var(--madoc-white);
  --madoc-table-background-color-2: var(--madoc-github-grey-12);
  --madoc-table-border-color: var(--madoc-github-grey-3);
  --madoc-wheel-background-color: var(--madoc-black);
  --madoc-wheel-text-color: var(--madoc-white);
  --madoc-navbar-icon-color: var(--madoc-grey-5);
  --madoc-html-background-hover-color: var(--madoc-github-grey-1);
  --madoc-html-background-active-color: var(--madoc-github-grey-5);
}
// Dark
*[theme="dark"] {
  // Display 
  --madoc-display-left: var(--madoc-grey-2);
  --madoc-display-right: var(--madoc-github-grey-2);
  --madoc-display-border: var(--madoc-github-grey-9);
  // Variables
  --madoc-html-background-color: var(--madoc-github-grey-6);
  --madoc-html-text-color: var(--madoc-white);
  --madoc-html-color: var(--madoc-github-grey-9);
  --madoc-accent: var(--madoc-dark-orange);
  --madoc-anchor-link-color: var(--madoc-github-grey-8);
  --madoc-heading-underline-color: var(--madoc-grey-5);
  --madoc-blockquote-color: var(--madoc-github-grey-2);
  --madoc-blockquote-border-color: var(--madoc-github-grey-10);
  --madoc-separator-color: var(--madoc-github-grey-10);
  --madoc-code-background-color: var(--madoc-github-grey-11);
  --madoc-code-color: var(--madoc-github-red-code);
  --madoc-table-background-color: var(--madoc-grey-2);
  --madoc-table-background-color-2: var(--madoc-vscode-grey-3);
  --madoc-table-border-color: var(--madoc-github-grey-10);
  --madoc-wheel-background-color: var(--madoc-white);
  --madoc-wheel-text-color: var(--madoc-black);
  --madoc-navbar-icon-color: var(--madoc-grey-9);
  --madoc-html-background-hover-color: var(--madoc-github-grey-13);
  --madoc-html-background-active-color: var(--madoc-github-grey-14);
}
// Dark
*[theme="fresh"] {
  // Display 
  --madoc-display-left: var(--madoc-grey-blue-2);
  --madoc-display-right: var(--madoc-github-grey-1);
  --madoc-display-border: var(--madoc-grey-blue-2);
  // Variables
  --madoc-html-background-color: var(--madoc-github-grey-1);
  --madoc-html-text-color: var(--madoc-grey-blue-2);
  --madoc-html-color: var(--madoc-grey-3);
  --madoc-accent: var(--madoc-blue-1);
  --madoc-anchor-link-color: var(--madoc-github-blue-link);
  --madoc-heading-underline-color: var(--madoc-grey-blue-2);
  --madoc-blockquote-color: var(--madoc-github-grey-2);
  --madoc-blockquote-border-color: var(--madoc-grey-blue-2);
  --madoc-separator-color: var(--madoc-github-grey-4);
  --madoc-code-background-color: var(--madoc-github-code-back);
  --madoc-code-color: var(--madoc-grey-3);
  --madoc-table-background-color: var(--madoc-white);
  --madoc-table-background-color-2: var(--madoc-grey-blue-1);
  --madoc-table-border-color: var(--madoc-grey-blue-2);
  --madoc-wheel-background-color: var(--madoc-black);
  --madoc-wheel-text-color: var(--madoc-white);
  --madoc-navbar-icon-color: var(--madoc-grey-blue-3);
  --madoc-html-background-hover-color: var(--madoc-github-grey-5);
  --madoc-html-background-active-color: var(--madoc-github-grey-9);
}
